@if (ShowAboutUsPage)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 col-sm-12">
                <div class="card mt-2 border-1 shadow-lg">
                    <div class="card border-1 shadow-lg" style=" background-image: linear-gradient(to right, #947FFF, #F875B3);">
                        <div class="card border-1 shadow-lg" style=" background-image: linear-gradient(to right, #947FFF, #F875B3);">
                            <div class="card mt-1 border-1 shadow-lg" style=" background-image: linear-gradient(to right, #947FFF, #F875B3);">
                                <div class="card border-1 shadow-lg">
                                    <div class="card border-1 shadow-lg">
                                        <div class="card-header"><h4>About Us</h4></div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-3"></div>
                                                <div class=" col-xl-6 col-md-4 col-sm-12">
                                                    <div class="card border-1 shadow-lg">
                                                        <div class="card-header"></div>
                                                        <div class="card-body">
                                                            <div class="alert alert-info">Coming Soon...</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter] public bool ShowAboutUsPage { get; set; }
}